*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  --font-family: "Noto Sans", sans-serif;
  --second-family: "Tinos", sans-serif;
  --third-family: "Volkhov", sans-serif;
  --font3: "Work Sans", sans-serif;
  --font4: "Vollkorn", sans-serif;
  --font5: "Inter", sans-serif;
}

:root {
  --text-black: #212121;
  --text-dark-grey: #4a4a4a;
}

html {
  scroll-behavior: smooth;
}

body {
  .col {
    display: none;
    float: left;
  }

  .hamburger .line {
    width: 34.5px;
    height: 4px;
    background-color: #ecf0f1;
    display: block;
    margin: 5.5px auto;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .adaptive-menu {
    position: fixed;
    right: -100%;
    top: 0px;
    transition: 0.5s;
    z-index: 9999;
    display: none;
    height: 100%;
    width: 100%;
    background-image: url("./assets/images/menu.png");
    background-repeat: no-repeat;
    background-size: cover;

    .adaptive-menu__wrap {
      height: 100%;
      background: linear-gradient(
        295deg,
        rgba(38, 119, 87, 0.85) 0%,
        rgba(38, 115, 85, 0.78) 100%
      );
      overflow-y: scroll;

      nav > .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        list-style-type: none;
        padding-left: 0;
        margin-top: 48px;

        .nav-item {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 24px;
          line-height: 175%;
          letter-spacing: 0.01em;
          color: #fefefe;

          .nav-link {
            color: #fefefe;
            text-decoration: none;
          }
        }
      }

      .adaptive-menu__lang_wrap {
        text-align: center;
        margin-top: 48px;

        .adaptive-menu__lang_wrap__btn_wrap {
          .btn_lang {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: #268b63;
            width: 101px;
            height: 43px;
            border: 1px solid #fff;
            text-transform: uppercase;
          }

          .language-active {
            background: #0c6642;
            color: #fefefe;
          }

          .btn_lang:nth-child(1) {
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            border-right: 1px solid #268b63;
          }

          .btn_lang:nth-child(3) {
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            border-left: 1px solid #268b63;
          }
        }

        div:nth-child(2) {
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 18px;
          line-height: 266%;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          text-align: center;
          color: #e2eae7;
          margin-top: 8px;
          margin-bottom: 48px;
        }
      }
    }
  }

  h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 34px;
    line-height: 124%;
    letter-spacing: 0.01em;
    color: var(--text-black);
  }

  .btn {
    border: none;
    border-radius: 26px;
    padding: 10px 24px;
    width: 315px;
    height: 56px;
    background: #fefefe;
    cursor: pointer;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #268b63;
    margin-top: 40px;
  }

  .btn:hover {
    background: #ddffeb;
  }

  .btn:active {
    background: #d9e9e0;
  }

  .btn_green {
    background: #268b63;
    color: #fefefe;
    margin-top: 48px;
  }

  .btn_green:hover {
    background: #29a574;
  }

  .btn_green:active {
    background: #0c7f52;
  }

  .btn_carousel {
    width: 40px;
    height: 55px;
    padding: 0;
    margin-top: 0;
  }

  .social_wrap {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 175%;
    letter-spacing: 0.01em;
    color: var(--text-dark-grey);
  }

  .carousel__wrap {
    position: relative;

    .carousel__wrap__gallery {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      overflow: hidden;

      ul {
        height: 300px;
        width: 9999px;
        margin: 0;
        padding: 0;
        list-style: none;
        transition: margin-left 250ms;
        font-size: 0;

        display: flex;
        flex-wrap: wrap;

        li {
          display: inline-block;

          img {
            width: 410px;
            height: 300px;
            display: block;
          }
        }
      }
    }
  }

  header {
    background-color: #268b63;
    height: 86px;
    padding: 15px 75px;
    display: flex;
    align-items: center;

    .header__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .menu__wrap {
        display: flex;
        align-items: center;

        nav {
          padding-right: 32px;

          ul {
            display: flex;
            gap: 32px;
            list-style-type: none;

            li {
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 18px;
              line-height: 150%;
              letter-spacing: 0.01em;
              color: #fefefe;

              a {
                color: #fefefe;
                text-decoration: none;
              }

              a:hover {
                color: #ddffeb;
              }

              a:active {
                color: #9dddc2;
              }
            }
          }
        }
      }

      .custom-select {
        position: relative;

        #language-select {
          border: 1px solid #62bf99;
          border-radius: 26px;
          padding: 8px 16px;
          width: 99px;
          height: 42px;
          background: #ddffeb;
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;
          letter-spacing: 0.01em;
          color: #268b63;

          appearance: none;
          cursor: pointer;
          background-image: url('data:image/svg+xml,<svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9725 0.305664L7 5.26733L2.0275 0.305664L0.5 1.83316L7 8.33316L13.5 1.83316L11.9725 0.305664Z" fill="%23268B63" /></svg>');
          background-repeat: no-repeat;
          background-position: right 16px top 55%;
          background-size: 1rem auto;

          option {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: #268b63;
            cursor: pointer;
            background: #ddffeb;
            height: 43px;
            border-radius: 12px;
          }

          option:checked {
            background: #0c6642;
            color: white;
          }
        }

        select:focus {
          outline: 2px solid #268b63;
        }
      }

      .custom-select:after {
        border-left: 2px solid #268b63;
        content: "\00a0";
        position: absolute;
        top: 12px;
        right: 43px;
        z-index: 2;
        display: block;
        height: 18px;
      }
    }
  }

  main {
    .main_section {
      height: 864px;
      background-image: url("./assets/images/section_main_1.jpg");
      background-repeat: no-repeat;
      background-size: 67%;

      .main_section__wrap {
        display: flex;
        justify-content: space-between;
        background: linear-gradient(
          272.81deg,
          #268b63 2.41%,
          #268b63 35.04%,
          rgba(38, 126, 91, 0.95) 41.26%,
          rgba(38, 119, 87, 0.85) 47.74%,
          rgba(38, 115, 85, 0.77669) 52.91%,
          rgba(38, 112, 82, 0.7) 57.18%
        );

        height: 100%;

        .main_section__info_wrap {
          padding-left: 75px;
          align-content: center;
          width: 705px;

          h1 {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 18px;
            line-height: 266%;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: #fefefe;
          }

          .fio {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 54px;
            line-height: 117%;
            color: #fefefe;
            margin-top: 8px;
          }

          .text {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 24px;
            line-height: 175%;
            letter-spacing: 0.01em;
            color: #fefefe;
            margin-top: 16px;
          }

          .foto_mobile,
          .main_section__info_wrap__mobile {
            display: none;
          }
        }

        .main_section__foto {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .main_section__foto__social {
            justify-content: end;
            margin-right: 75px;
            margin-bottom: 56px;
          }
        }
      }
    }

    .section_about_psyho {
      min-height: 763px;
      padding: 96px 75px;
      display: flex;
      align-items: center;

      .section_about_psyho__wrap_text {
        display: flex;
        flex-direction: column;
        padding: 39.5px 48px 39.5px 0;
        width: 70%;

        gap: 16px;

        h2 {
          margin-bottom: 24px;
        }

        .section_about_psyho__wrap_images_mobile {
          display: none;
        }

        .section_about_psyho__wrap_text__wrap {
          p {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: var(--text-black);
          }
        }

        .btn-more {
          display: none;
          border: 1.4px solid #268b63;
          border-radius: 26px;
          padding: 10px 24px;
          width: 345px;
          height: 56px;
          background: #fefefe;

          margin-top: 0;
        }
      }

      .section_about_psyho__wrap_images {
        flex: none;
      }
    }

    .section_about_me {
      display: flex;

      .section_about_me__wrap_text {
        flex: 1;
        background: #f0f9f8;
        padding: 96px 75px 96px 48px;

        .subtitle {
          margin-top: 8px;
        }

        .section_about_me__wrap_text__wrap {
          display: flex;
          flex-direction: column;
          gap: 16px;
          margin-top: 48px;
          padding: 0;

          li {
            display: flex;
            align-items: center;
            gap: 8px;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: var(--text-black);
          }

          li::before {
            content: "\2B24 ";
            color: #62bf99;
            font-size: 12px;
            display: inline-block;
            vertical-align: middle;
          }
        }

        .btn-more {
          display: none;
          border: 1.4px solid #268b63;
          border-radius: 26px;
          padding: 10px 24px;
          width: 345px;
          height: 56px;
          background: #fefefe;
          margin: auto;
          margin-top: 24px;
        }
      }
    }

    .section_how_works {
      padding: 96px 75px;
      text-align: center;

      h2 {
        text-align: center;
      }

      .subtitle {
        text-align: center;
        margin-top: 8px;
      }

      .section_how_works__wrap_items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px 30px;
        margin-top: 48px;

        .section_how_works__wrap_items__item {
          width: 300px;
          height: 271px;
          text-align: center;

          img {
            margin-left: auto;
            margin-right: auto;
          }

          h3 {
            font-family: var(--font-family);
            font-weight: bold;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0.01em;
            text-align: center;
            color: var(--text-black);
            margin-top: 16px;
            margin-bottom: 16px;
          }

          p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 143%;
            letter-spacing: 0.01em;
            text-align: center;
            color: var(--text-black);
            margin-bottom: 8px;

            display: list-item;
            list-style-position: inside;
          }

          p:nth-last-of-type(1) {
            margin-bottom: 0px;
          }
        }
      }
    }

    .section_education {
      background: #f0f9f8;
      padding: 96px 27px;
      text-align: center;

      .section_education__wrap_carousel {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 48px;

        .section_education__wrap_btns_mobile {
          display: none;
        }
      }
    }

    .section_experience {
      background: #e1f1e2;
      padding: 96px 217px;

      .section_experience__wrap_texts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 16px;

        .section_experience__wrap_texts__text {
          text-align: center;

          span {
            display: block;
          }

          span:nth-of-type(1) {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 78px;
            line-height: 117%;
            letter-spacing: -0.02em;
            background: linear-gradient(
              180deg,
              #556f5c 0%,
              #264b35 28%,
              #bdd1c5 100%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          span:nth-of-type(2) {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 20px;
            line-height: 160%;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            text-align: center;
            color: #163d2a;
          }
        }
      }
    }

    .section_reviews {
      background: #f0f9f8;
      padding: 96px 27px;

      h2 {
        text-align: center;
      }

      .section_reviews__wrap_carousel {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 48px;

        .section_reviews__wrap_carousel__wrap_reviews {
          ul {
            height: 288px;
          }

          .section_reviews__wrap_carousel__wrap_reviews__wrap_review {
            background: white;
            padding: 24px;
            width: 410px;
            height: 288px;

            .section_reviews__wrap_carousel__wrap_reviews__wrap_review__name {
              display: flex;
              justify-content: space-between;

              div:nth-of-type(1) {
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 20px;
                line-height: 157%;
                letter-spacing: 0.01em;
                color: var(--text-black);
              }

              div:nth-last-of-type(1) {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 143%;
                letter-spacing: 0.01em;
                color: var(--text-dark-grey);
              }
            }

            .section_reviews__wrap_carousel__wrap_reviews__wrap_review__age {
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 18px;
              line-height: 150%;
              letter-spacing: 0.01em;
              color: var(--text-dark-grey);
              margin-top: 8px;
            }

            p {
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 18px;
              line-height: 150%;
              letter-spacing: 0.01em;
              color: var(--text-black);
              margin-top: 12px;
              height: 162px;
              overflow-y: auto;
            }
          }
        }

        .section_reviews__wrap_btns_mobile {
          display: none;
        }
      }
    }
  }

  footer {
    height: 486px;
    background: url("./assets/images/footer.png");
    background-repeat: no-repeat;
    background-position: right;

    .footer__wrap {
      font-style: normal;
      height: 486px;
      background: linear-gradient(
        270deg,
        rgba(38, 112, 82, 0.7) 0.19%,
        rgba(38, 115, 85, 0.78) 16.65%,
        rgba(38, 119, 87, 0.85) 30.26%,
        rgba(38, 126, 91, 0.95) 36.42%,
        #268b63 54.91%,
        #268b63 100%
      );
      padding: 75px;

      .footer__wrap__social {
        margin-top: 48px;
        justify-content: flex-start;
      }

      .footer__wrap__contacs_wrap {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 40px;

        .footer__wrap__contacs_wrap__row {
          display: flex;
          gap: 16px;

          font-family: var(--font-family);
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;
          letter-spacing: 0.01em;
          color: #fefefe;

          a {
            color: #fefefe;
            text-decoration: none;
          }

          div {
            display: flex;
            flex-direction: column;

            span {
              text-align: start;
            }
          }
        }
      }

      .btn {
        float: right;
        margin-top: -30px;
      }
    }
  }
}

@media screen and (min-width: 1770px) {
  body {
    main {
      .section_how_works {
        .section_how_works__wrap_items {
          .section_how_works__wrap_items__item {
            flex: 1 1 23%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1520px) {
  body {
    footer {
      .footer__wrap {
        background: linear-gradient(
          270deg,
          rgba(38, 112, 82, 0.7) 0.19%,
          rgba(38, 115, 85, 0.78) 6.65%,
          rgba(38, 119, 87, 0.85) 16.26%,
          rgba(38, 126, 91, 0.95) 23.42%,
          #268b63 32.91%,
          #268b63 100%
        );
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  body {
    main {
      .section_about_me {
        .section_about_me__wrap_text {
          padding: 42px 75px 42px 48px;
        }
      }
    }
  }
}

@media screen and (max-width: 1390px) {
  body {
    main {
      .main_section {
        background-size: 87%;
      }
    }
  }
}

@media screen and (max-width: 1270px) {
  body {
    header {
      .header__wrap {
        .menu__wrap {
          display: none;
        }

        .hamburger-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 86px;
          padding: 20px 15px;
          background: #268b63;

          img {
            width: 441px;
          }
        }

        .col {
          display: block;
          float: right;
        }

        .container > .nav {
          display: none;
        }

        .adaptive-menu {
          display: block;
          font-size: 35px;
          line-height: 73px;
        }

        #hamburger-2.is-active .line:nth-child(2) {
          opacity: 0;
        }

        #hamburger-2.is-active .line:nth-child(1) {
          -webkit-transform: translateY(9px) rotate(45deg);
          -ms-transform: translateY(9px) rotate(45deg);
          -o-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
        }

        #hamburger-2.is-active .line:nth-child(3) {
          -webkit-transform: translateY(-10px) rotate(-45deg);
          -ms-transform: translateY(-10px) rotate(-45deg);
          -o-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
        }

        .adaptive-menu > .col {
          float: right;
        }

        .adaptive-menu > .nav {
          margin-left: 88px;
        }

        .adaptive-menu > .nav > .nav-list {
          display: flex;
          flex-direction: column;
          list-style: none;
          gap: 16px;
          padding-top: 9px;
        }

        .open {
          right: 0;
          transition: 0.5s;
        }

        .open:after {
          content: "";
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          left: 0;
          background: #000;
          z-index: -1;
          opacity: 0.5;
        }
      }
    }

    main {
      .main_section {
        background-size: 97%;
      }

      .section_about_me {
        flex-direction: column;
        padding-top: 96px;
        background: #f0f9f8;

        img {
          max-width: 410px;
          margin: auto;
        }

        .section_about_me__wrap_text {
          padding-top: 48px;
          padding-left: 15px;
          padding-right: 15px;

          h2,
          .subtitle {
            text-align: center;
          }
        }
      }

      .section_about_psyho {
        height: auto;
        padding-left: 15px;
        padding-right: 15px;

        .section_about_psyho__wrap_text {
          display: flex;
          align-items: center;
          padding: 0;
          width: 100%;

          h2 {
            text-align: center;
            margin-bottom: 32px;
          }

          .section_about_psyho__wrap_images_mobile {
            display: flex;
            margin-bottom: 32px;
          }
        }
        .section_about_psyho__wrap_images {
          display: none;
        }
      }

      .section_experience {
        padding: 96px;
      }

      .section_about_psyho {
        .section_about_psyho__wrap_images {
          width: 30%;
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  body {
    main {
      .main_section {
        background-size: 118%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    .subtitle {
      font-size: 20px;
      line-height: 157%;
    }

    header {
      padding: 15px;

      .header__wrap {
        > img {
          content: url("./assets/icons/logo_mobile.svg");
        }

        .hamburger-wrap {
          padding: 20px 15px;

          img {
            width: 270px;
            content: url(./assets/icons/logo_mobile.svg);
          }
        }

        .adaptive-menu {
          width: 100%;

          .adaptive-menu__wrap {
            nav > ul {
              gap: 32px;
            }

            .adaptive-menu__lang_wrap {
              margin-top: 32px;

              div:nth-child(2) {
                margin-bottom: 32px;
              }
            }

            .social_wrap {
              flex-wrap: wrap;
              padding-left: 36px;
              padding-right: 36px;
            }
          }
        }
      }
    }

    main {
      .main_section {
        background-size: auto;

        .main_section__wrap {
          background: linear-gradient(
            295deg,
            rgba(38, 119, 87, 0.85) 0%,
            rgba(38, 115, 85, 0.78) 100%
          );

          .main_section__info_wrap {
            padding-left: 15px;
            padding-right: 15px;
            width: auto;
            align-content: normal;
            text-align: center;

            .foto_mobile {
              display: block;
              margin-right: -15px;
              margin-left: auto;
            }

            .fio,
            .ofline_online {
              display: none;
            }

            .text {
              font-size: 20px;
              line-height: 157%;
              letter-spacing: 0.01em;
              margin-top: 24px;
              text-align: center;
            }

            .btn {
              margin-top: 24px;
            }

            .main_section__info_wrap__mobile {
              display: block;
              text-align: center;

              h1 {
                font-size: 14px;
                margin-bottom: 16px;
                margin-top: 8px;
              }

              .main_section__foto__social {
                flex-wrap: wrap;
                padding-left: 25px;
                padding-right: 25px;
              }
            }
          }

          .main_section__foto {
            display: none;
          }
        }
      }

      .section_about_me {
        flex-direction: column;
        padding-top: 96px;
        background: #f0f9f8;

        .section_about_me__wrap_text {
          padding-top: 48px;
          padding-left: 15px;
          padding-right: 15px;

          h2,
          .subtitle {
            text-align: center;
          }
        }
      }

      .section_how_works {
        padding: 96px 15px;

        .section_how_works__wrap_items {
          .section_how_works__wrap_items__item {
            h3 {
              color: #0c6642;
            }
          }
        }
      }

      .section_education {
        padding: 96px 15px;
      }

      .section_experience {
        padding: 96px 80px;

        .section_experience__wrap_texts {
          gap: 94px;
        }
      }

      .section_reviews {
        padding: 96px 15px;
        .section_reviews__wrap_carousel {
          .section_reviews__wrap_carousel__wrap_reviews {
            justify-content: center;
          }
        }
      }
    }

    footer {
      height: 800px;
      background-position: bottom;

      .footer__wrap {
        height: 800px;
        padding: 96px 15px;
        text-align: center;
        background: linear-gradient(
          360deg,
          rgba(38, 112, 82, 0.7) 0.19%,
          rgba(38, 115, 85, 0.78) 24.23%,
          rgba(38, 119, 87, 0.85) 35.67%,
          rgba(38, 126, 91, 0.95) 53.09%,
          #268b63 61.1%,
          #268b63 100%
        );

        .logo {
          margin: auto;
          content: url("./assets/icons/logo_mobile_vertical.svg");
        }

        .footer__wrap__social {
          justify-content: center;
        }

        .footer__wrap__contacs_wrap {
          margin-top: 48px;
        }

        .btn {
          float: none;
          margin-top: 166px;
        }
      }
    }
  }
}

@media screen and (max-width: 659px) {
  body {
    main {
      .section_how_works {
        padding: 96px 15px;

        .section_how_works__wrap_items {
          row-gap: 32px;

          .section_how_works__wrap_items__item {
            width: 345px;
            height: auto;

            h3 {
              margin-bottom: 0;

              cursor: pointer;
              transition: all 0.3s ease-in-out;
            }

            h3::after {
              content: "\25BC";
              display: inline-block;
              width: 20px;
              height: 20px;
            }

            p {
              font-size: 0;
              margin-bottom: 0;
              transition: all 0.3s ease-in-out;
            }
          }

          .open_item {
            h3 {
              margin-bottom: 16px;
            }

            h3::after {
              content: "\25B2";
            }

            p {
              font-size: 16px;
              margin-bottom: 8;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  body {
    main {
      .section_about_psyho {
        .section_about_psyho__wrap_text {
          .section_about_psyho__wrap_text__wrap {
            height: 422px;
            overflow: hidden;
          }

          .btn-more {
            display: block;
          }
        }
      }

      .section_about_me {
        .section_about_me__wrap_text {
          .section_about_me__wrap_text__wrap {
            height: 422px;
            overflow: hidden;
          }

          .btn-more {
            display: block;
          }
        }

        img {
          max-width: 100%;
          margin: 0;
        }
      }

      .section_education,
      .section_reviews {
        .section_education__wrap_carousel,
        .section_reviews__wrap_carousel {
          flex-direction: column;

          .btn_carousel {
            display: none;
          }

          .section_education__wrap_btns_mobile,
          .section_reviews__wrap_btns_mobile {
            display: flex;
            align-items: center;
            gap: 12px;
            margin-top: 16px;

            .btn_carousel {
              display: block;
              width: 56px;
              height: 56px;
            }

            .number_image,
            .number_review {
              font-family: var(--font-family);
              font-weight: 600;
              font-size: 20px;
              line-height: 160%;
              letter-spacing: 0.01em;
              text-align: center;
              color: #62bf99;
            }
          }
        }
      }

      .section_reviews {
        .section_reviews__wrap_carousel {
          .section_reviews__wrap_carousel__wrap_reviews {
            .section_reviews__wrap_carousel__wrap_reviews__wrap_review {
              height: 342px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 439px) {
  body {
    main {
      .section_education {
        .carousel__wrap {
          .carousel__wrap__gallery {
            ul {
              height: 252px;

              img {
                width: 345px;
                height: 252px;
              }
            }
          }
        }
      }

      .section_reviews {
        .carousel__wrap {
          .carousel__wrap__gallery {
            ul {
              height: 342px;

              .section_reviews__wrap_carousel__wrap_reviews__wrap_review {
                width: 345px;
                height: 342px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 374px) {
  body {
    main {
      .section_education {
        .carousel__wrap {
          .carousel__wrap__gallery {
            ul {
              img {
                width: calc(100vw - 30px);
              }
            }
          }
        }
      }

      .section_reviews {
        .carousel__wrap {
          .carousel__wrap__gallery {
            ul {
              li {
                .section_reviews__wrap_carousel__wrap_reviews__wrap_review {
                  width: calc(100vw - 30px);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 345px) {
  body {
    .btn {
      width: 310px;
    }

    main {
      .main_section {
        .main_section__wrap {
          .main_section__info_wrap {
            padding-left: 5px;
            padding-right: 5px;

            .foto_mobile {
              margin-right: -5px;
            }
          }
        }
      }

      .section_about_psyho {
        padding-left: 5px;
        padding-right: 5px;

        .section_about_psyho__wrap_text {
          .btn-more {
            width: 300px;
          }
        }
      }

      .section_about_me {
        .section_about_me__wrap_text {
          padding-left: 5px;
          padding-right: 5px;

          .btn-more {
            width: 300px;
          }
        }
      }

      .section_how_works {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    footer {
      .footer__wrap {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

@media screen and (min-width: 561px) {
  body {
    footer {
      .footer__wrap {
        .footer__wrap__contacs_wrap {
          width: fit-content;
          margin: auto;
          margin-top: 48px;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  body {
    footer {
      .footer__wrap {
        .footer__wrap__contacs_wrap {
          align-items: start;
          margin: 0;
          margin-top: 40px;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1270px) {
  body {
    header {
      padding: 15px;

      .adaptive-menu {
        background-repeat: round;
      }
    }

    main {
      .main_section {
        height: 549px;

        .main_section__wrap {
          .main_section__info_wrap {
            padding-left: 15px;
            width: 100%;

            .fio {
              font-size: 34px;
            }

            .text {
              font-size: 20px;
            }

            .btn {
              margin-top: 32px;
            }

            .main_section__info_wrap__mobile {
              display: block;

              h1 {
                display: none;
              }
            }
            .social_wrap {
              margin-top: 48px;
              justify-content: flex-start;
            }
          }

          .main_section__foto {
            .main_section__foto__social,
            .social_wrap {
              display: none;
            }
          }
        }
      }
    }
  }
}
